<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="bikeForm" (ngSubmit)="onSubmit()">
      <input type="hidden" id="id" formControlName="id">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image Url</label>
            <input type="text" id="imagePath" formControlName="imagePath" class="form-control" #imagePath>
          </div>
        </div>
      </div>
      <div class="row space-bottom">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description" class="form-control" rows="3" required></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="status">Status</label>
            <select id="status" formControlName="status" class="form-control" required>
              <option *ngFor="let s of statuses" [value]="s">{{s}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Advanced Details</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="rim">Rim</label>
            <select id="rim" formControlName="rim" class="form-control" required>
                <option *ngFor="let r of rims" [value]="r">{{r}}</option>
              </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="tyre">Tyre</label>
            <select id="tyre" formControlName="tyre" class="form-control" required>
                  <option *ngFor="let t of tyres" [value]="t">{{t}}</option>
                </select>
          </div>
        </div>
      </div>
      <div class="row space-bottom">
        <div class="col-xs-12">
          <button [disabled]="!bikeForm.valid" type="submit" class="btn btn-success">Save</button>
          <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
