<div class="row">
    <div class="col-sm-12">
      <h2>Welcome!</h2>
      <p>This core feature of this website is to provide guidance on what gearing requirements are needed for youth cycling in
        different countries. The website is new and evolving, and currently caters for the United Kingdom (British Cycling)
        and the Netherlands (Koninklijke Nederlandsche Wielren Unie).</p>
      <p>Check what the gearing restrictions are for your or your child's bike with our <a routerLink="/gear-check">Gear Check calculator</a>.</p>
      <p>We are also introducing additional features to this website all the time, so check back often.</p>
    </div>
  </div>