<div class="row">
  <div class="col-sm-12">
    <h2>Bikes</h2>
    <p>This section allows you to store details on all the bikes you own, and link one or more cyclists to each bike.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <app-bike-list (bikeWasSelected)="selectedBike = $event"></app-bike-list>
  </div>
  <div class="col-md-8">
    <app-bike-detail *ngIf="selectedBike; else infoText" [bike]="selectedBike"></app-bike-detail>
    <ng-template #infoText>
      <p>Please select a bike</p>
    </ng-template>
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
