<div class="row">
  <div class="col-sm-12">
    <h2>Gear Check</h2>
    <p>This page allows you to enter details for the youth road cyclist and their bike. Based on the British Cycling road racing restrictions, it will give you recommendations on gearing limitations that have to be applied.</p>
    <p>These are just recommendations, and you should still manually check the roll out of the bicycle according to BC guidelines.</p>
  </div>
  <div class="col-sm-8">
    <h4>Cyclist details</h4>
    <h4>Bike details</h4>
  </div>
  <div class="col-sm-4">
    <h4>Recommendations</h4>
  </div>
</div>
