<div class="row">
  <div class="col-sm-12">
    <h2>Gear Check</h2>
    <p>This page allows you to enter details for the youth road cyclist and their bike. Based on the British Cycling road racing
      restrictions, it will give you recommendations on gearing limitations that have to be applied.</p>
    <p>These are just recommendations, and you should still manually check the roll out of the bicycle according to BC guidelines.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <app-gear-check-cyclist [cyclist]="cyclist"></app-gear-check-cyclist>
    <app-gear-check-bike [bike]="bike"></app-gear-check-bike>
    <h4>Country to check</h4>
    <div class="form-group">
      <label for="engineCategory">Nationality (e.g. GB or NL or US or FR)</label>
      <select [(ngModel)]="engineCategory" class="form-control" required>
        <option *ngFor="let ec of engineCategories" [ngValue]="ec">{{ec}}</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="checkGearing()">Check Gearing</button>
  </div>
  <div class="col-sm-6">
    <h4>Recommendations</h4>
    <p>You have selected a wheel size of {{ wheelSize }} with a front chain ring size of {{ largestChainRing }} teeth for cyclist
      born on and riding according to {{ engineCategory }} regulations.</p>
    <hr>
    <app-gear-check-result [result]="gearCheck"></app-gear-check-result>
  </div>
</div>
