<div class="row">
  <div class="col-sm-12">
    <h2>Gear Check (Reactive)</h2>
    <p>This page allows you to enter details for the youth road cyclist and their bike. Based on the British Cycling road racing
      restrictions, it will give you recommendations on gearing limitations that have to be applied.</p>
    <p>These are just recommendations, and you should still manually check the roll out of the bicycle according to BC guidelines.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <form>
      <h4>Cyclist details</h4>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth (e.g. dd/mm/yyyy)</label>
        <div class="input-group">
          <select id="day" class="form-control" (change)="onSelect()">
              <option *ngFor="let dd of days">{{dd}}</option>
            </select>
          <select [(ngModel)]="month" class="form-control" (change)="onSelect()">
              <option *ngFor="let mm of months" [ngValue]="mm">{{mm}}</option>
            </select>
          <select [(ngModel)]="year" class="form-control" (change)="onSelect()">
              <option *ngFor="let yy of years" [ngValue]="yy">{{yy}}</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Gender (e.g. male or female)</label>
        <select id="cyclist.gender" class="form-control">
        <option *ngFor="let g of genders; let i = index">{{g}}</option>
      </select>
      </div>
      <hr>
      <h4>Bike details</h4>
      <div class="form-group">
        <label for="wheelSize">Wheel size (e.g. 700x23)</label>
        <!-- <app-wheel-size [rim]="bike.rim" [tyre]="bike.tyre" (rimChanged)="onRimChanged($event)" (tyreChanged)="onTyreChanged($event)"></app-wheel-size> -->
      </div>
      <div class="form-group">
        <label for="largestChainRing">Teeth on largest front chain ring (e.g. 40)</label>
        <select id="bike.largestChainRing" class="form-control">
          <option *ngFor="let cr of chainRingSizes; let i = index">{{cr}}</option>
        </select>
      </div>
      <hr>
      <h4>Country to check</h4>
      <div class="form-group">
        <label for="engineCategory">Nationality (e.g. GB or NL or US or FR)</label>
        <select id="engineCategory" class="form-control">
        <option *ngFor="let ec of engineCategories; let i = index">{{ec}}</option>
      </select>
      </div>
      <button class="btn btn-primary" (click)="checkGearing()">Check Gearing</button>
    </form>
  </div>
  <div class="col-sm-6">
    <h4>Recommendations</h4>
    <p>You have selected a wheel size of {{ wheelSize }} with a front chain ring size of {{ largestChainRing }} teeth for cyclist
      born on and riding according to {{ engineCategory }} regulations.</p>
    <hr>
    <!-- <app-gear-check-result [result]="gearCheck"></app-gear-check-result> -->
  </div>
</div>