<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="filteredStatus" class="form-label">Filter</label>
      <select name="filteredStatus" [(ngModel)]="filteredStatus" class="form-control">
        <option value="*">all</option>
        <option value="active">active</option>
        <option value="inactive">inactive</option>
        <option value="forsale">forsale</option>
        <option value="sold">sold</option>
        <option value="stolen">stolen</option>
        <option value="deleted">deleted</option>
        <option value="demo">demo</option>
      </select>
    </div>
  </div>
</div>
<div class="row space-bottom">
  <div class="col-xs-12">
    <app-bike-item *ngFor="let bikeEl of bikes" [bike]="bikeEl" (bikeSelected)="onBikeSelected(bikeEl)"></app-bike-item>
  </div>
</div>
<div class="row space-bottom">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewBike()">New Bike</button>
  </div>
</div>
