<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="firstname">First Name</label>
          <input type="text" id="firstname" class="form-control" name="firstname" ngModel required>
        </div>
        <div class="col-sm-4 form-group">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" class="form-control" name="lastname" ngModel required>
        </div>
        <div class="col-sm-4 form-group">
          <label for="gender">Gender</label>
          <select class="form-control" name="gender" ngModel required>
            <option *ngFor="let g of genders" [ngValue]="g">{{g}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>