/* You can add global styles to this file, and also import other style files */
input[required], select[required], textarea[required] {
  border-left: 5px solid #42A948; /* green */
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched  {
  border-left: 5px solid #a94442; /* red */
}

/* .row {
  border: 1px solid #EAE2E2;
} */

.space-bottom {
  margin-bottom: 15px;
}

h1 {margin-top:0;}
